@font-face {
    font-family: 'roboto-light';
    src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.woff2') format('woff2'), url('../fonts/Roboto-Light.ttf') format('truetype'), url('../fonts/Roboto-Light.svg#calibri') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-condensed';
    src: url('../fonts/roboto-condensed.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-condensed.woff') format('woff'), url('../fonts/roboto-condensed.ttf') format('truetype'), url('../fonts/roboto-condensed.svg#calibri') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-medium';
    src: url('../fonts/roboto-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-medium.woff') format('woff'), url('../fonts/roboto-medium.ttf') format('truetype'), url('../fonts/roboto-medium.svg#calibri') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Bold Condensed";
    src: url("../fonts/Roboto-BoldCondensed.eot?") format("eot"), url("../fonts/Roboto-BoldCondensed.woff") format("woff"), url("../fonts/Roboto-BoldCondensed.ttf") format("truetype"), url("../fonts/Roboto-BoldCondensed.svg#Roboto-BoldCondensed") format("svg");
    font-weight: normal;
    font-style: normal;
}

.roboto-condensed {
    font-family: 'roboto-condensed', sans-serif;
}

.roboto-light {
    font-family: 'roboto-light', sans-serif;
}