@media only screen and (max-width: 1260px) {
    .how-it-works {
        .decor {
            display: none
        }
        .step:nth-child(even) .text-block {
            margin-left: 30px
        }
        .step:nth-child(odd) .text-block {
            margin-right: 30px
        }
        .step .text-block {
            max-width: 230px
        }
    }
}

@media only screen and (max-width: 1220px) {
    .footer .footer-inner {
        width: 100%;
        padding: 37px 30px
    }
    .inner-container {
        width: 100%;
    }
    .benefits-section.what-is-yournurses .description {
        padding-left: 30px;
        padding-right: 30px;
    }
    .benefit-boxes {
        .box {
            max-width: 27%;
        }
    }
}

@media only screen and (max-width: 1080px) {
    .what-is-yournurses .horizontal-element {
        background-image: url(/img/line-horizontal-780.png);
        width: 708px;
    }
    .why-container {
        padding: 108px 30px 0;
    }
    .nurse-pricing-container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media only screen and (max-width: 1050px) {
    .db2 {
        display: none;
    }
    .db1 {
        display: block;
        margin-left: auto;
    }
    .footer .info-block {
        width: 100%;
        padding-top: 4px;
        display: flex;
    }
    .footer-inner {
        flex-wrap: wrap;
        padding-bottom: 39px;
        .footer-right {
            width: 100%
        }
        .copyright {
            text-align: center !important;
            width: 450px;
            margin: 0 auto;
            padding-top: 28px !important;
        }
    }
}

@media only screen and (max-width: 950px) {
    .normal-paragraph {
        font-size: 18px
    }
    .how-it-works {
        .step {
            margin-bottom: 0;
        }
        .step:nth-child(odd) .text-block {
            margin-right: 0;
        }
        .step:nth-child(odd) .text-block {
            padding-left: 0;
        }
    }
}

@media only screen and (max-width: 840px) {
    .decoration-elems {
        display: none;
    }
    .nurse-top-section .headings {
        font-size: 48px;
    }
    .section-banner p {
        font-size: 18px
    }
}

@media only screen and (max-width: 780px) {
    .what-is-yournurses {
        .horizontal-element {
            background-image: url(/img/line-horizontal-380.png);
            margin: 60px auto 60px;
            width: 307px;
        }
        .horizontal-element.line1 {
            margin: 29px auto 55px;
        }
    }
    .nav a {
        padding: 5px 18px 4px 18px;
    }
    .why-box {
        padding-bottom: 50px;
    }
    .nurse-pricing-container {
        padding-top: 28px;
    }
    #price-table {
        margin-top: 41px;
    }
    .why-container {
        padding: 75px 30px 0;
        .counter {
            width: 64px;
            height: 64px;
            line-height: 63px;
            margin-right: 28px;
        }
    }
    .how-it-works-outer {
        padding: 35px 35px 60px;
    }
    .benefit-boxes {
        flex-wrap: wrap;
        justify-content: space-around;
        .box {
            max-width: 48%;
            margin-bottom: 40px;
        }
        .box:last-child {
            margin-bottom: 0
        }
    }
    .what-is-yournurses {
        padding-top: 58px;
        padding-bottom: 80px;
        .description {
            font-size: 19px;
            line-height: 30px;
            padding-bottom: 50px !important;
            padding-top: 30px;
        }
    }
    .heading {
        font-size: 26px;
    }
    .why-container {
        padding-bottom: 0;
    }
    .how-it-works .step {
        min-height: auto;
        .text-block {
            padding-top: 78px;
        }
        .circles {
            height: 340px;
            width: 340px;
            .img1 {
                width: 340px;
                height: 340px;
            }
            .img2 {
                width: 290px;
                height: 290px;
                left: 26px;
                top: 26px;
            }
            .img3 {
                width: 245px;
                height: 245px;
                top: 48px;
                left: 48px;
            }
            .cover {
                left: 46px;
                width: 245px;
                top: 0px;
            }
        }
    }
}

@media only screen and (max-width: 730px) {
    .sidemenu {
        display: none
    }
    .banner-top-text {
        display: block
    }
    .nurse-top-section {
        flex-wrap: wrap;
        .right-block {
            .headings,
            p {
                display: none
            }
        }
    }
    .section-banner .right-block {
        width: 100% !important;
        text-align: center;
        a {
            float: none
        }
    }
    .graphic-layer {
        margin: 0 auto
    }
}

@media only screen and (max-width: 680px) {
    #price-table {
        width: 320px;
        font-size: 16px;
        th:first-child {
            width: 88px;
        }
        th:nth-child(2) {
            width: 104px;
        }
        th {
            padding: 13px 4px 11px;
            vertical-align: middle;
        }
    }
}

@media only screen and (max-width: 650px) {
    .nurse-pricing-container {
        text-align: center
    }
    .benefit-boxes .box {
        width: 100%;
        max-width: 100%;
        h4 {
            padding-bottom: 9px;
        }
    }
    .what-is-yournurses .horizontal-element {
        background-image: url(/img/line-horizontal-380.png);
        width: 307px;
    }
    .how-it-works {
        width: 340px;
        .step {
            flex-wrap: wrap;
            flex-direction: column-reverse;
            .text-block {
                max-width: 340px;
                padding-top: 19px;
                text-align: center !important;
                padding-bottom: 31px !important;
            }
        }
        .step:nth-child(even) {
            flex-wrap: wrap;
            flex-direction: column;
        }
    }
}

@media only screen and (max-width: 580px) {
    .info-block {
        flex-wrap: wrap;
    }
    .footer-left {
        width: 100%;
    }
    .footer {
        .info-block .links {
            margin-left: auto;
        }
        .download-buttons-section {
            margin-left: auto;
            margin-right: auto;
            float: none; 
            margin-top: 26px;
        }
    }
}

@media only screen and (max-width: 480px) {}